$primary-color: #0A220F;
$cta-color:#A6CE39;
$accent-color: #C3F147;
$secondary-color:#C6EEFF;
$lightgray-color:#F3F4F8;
$dark-color:#383838;
$neutral-color:#F2F7F9;
$container: 154rem;
$alt-font: "Montserrat", serif;
$font: "Lato", serif;